* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v2_2 {
  width: 100%;
  height: 1024px;
  background: rgba(38,38,38,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 1000px;  
    margin-left: 30px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
.v2_5 {
  width: 100%;
  height: 156px;
  background: rgba(74,74,74,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v25_9 {
  width: 100%;
  height: 179px;
  background: rgba(74,74,74,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_0 {
  width: 661px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 207px;
  left: 39px;
  font-family: Rubik;
  font-weight: Bold;
  font-size: 85px;
  opacity: 1;
  text-align: left;
}
.v5_2 {
  width: 518px;
  height: 110px;
  background: rgba(74,74,74,1);
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 39px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v5_3 {
  width: 518px;
  height: 110px;
  background: rgba(74,74,74,1);
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 39px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v5_5 {
  width: 964px;
  height: 85px;
  background: url("../images/v5_5.png");
  opacity: 1;
  position: absolute;
  top: 949px;
  left: 529px;
  border: 1px solid rgba(0,0,0,1);
}
.v5_6 {
  width: 22px;
  height: 50px;
  background: url("../images/v5_6.png");
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 1256px;
  border: 1px solid rgba(0,0,0,1);
}
.v29_87 {
  width: 384px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 920px;
  left: 1036px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: right;
}
.v69_1 {
  width: 508px;
  height: 134px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 633px;
  left: 41px;
  overflow: hidden;
}
.v74_0 {
  width: 508px;
  height: 121px;
  background: url("../images/v74_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v74_1 {
  width: 338px;
  height: 121px;
  background: rgba(147,144,144,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 85px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  overflow: hidden;
}
.v74_2 {
  width: 508px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Rubik;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.v29_105 {
  width: 378px;
  height: 160px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 1042px;
  overflow: hidden;
}
.v29_89 {
  width: 294px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 42px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: right;
}
.v25_7 {
  width: 100%;
  height: 1024px;
  background: rgba(38,38,38,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_5 {
  width: 100%;
  height: 179px;
  background: rgba(74,74,74,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_6 {
  width: 478px;
  height: 100%;
  background: rgba(104,104,104,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 962px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v28_26 {
  width: 433px;
  height: 126px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 873px;
  left: 988px;
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  overflow: hidden;
  text-align:center;
  font-size:20px;
}
.v29_26 {
  width: 920px;
  height: 473px;
  background: rgba(24,80,132,0.3799999952316284);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 21px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v29_41 {
  width: 443px;
  height: 110px;
  background: rgba(147,144,144,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 981px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v45_0 {
  width: 297px;
  height: 394px;
  background: rgba(147,144,144,1);
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 45px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v45_1 {
  width: 297px;
  height: 394px;
  background: rgba(147,144,144,1);
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 619px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v45_2 {
  width: 420px;
  height: 288px;
  background: rgba(104,104,104,1);
  opacity: 1;
  position: absolute;
  top: 711px;
  left: 21px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.button1 {
    width: 120px;
    height: 120px;
    background: rgba(104,104,104,1);
    opacity: 1;
    position: absolute;
    top: 800px;
    left: 160px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    overflow: hidden;
}
.button2 {
    width: 120px;
    height: 120px;
    background: rgba(104,104,104,1);
    opacity: 1;
    position: absolute;
    top: 800px;
    left: 680px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    overflow: hidden;
}
.button3 {
    width: 70px;
    height: 120px;
    background: rgba(104,104,104,1);
    opacity: 1;
    position: absolute;
    top: 350px;
    left: 450px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    overflow: hidden;
}
    .v45_4 {
  width: 420px;
  height: 288px;
  background: rgba(104,104,104,1);
  opacity: 1;
  position: absolute;
  top: 711px;
  left: 521px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.v45_5 {
  width: 277px;
  height: 394px;
  background: rgba(104,104,104,1);
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 342px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_28 {
  width: 598px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 170px;
  font-family: Rubik;
  font-weight: Bold;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v76_0 {
  width: 285px;
  color: rgba(24,80,132,1);
  position: absolute;
  top: 246px;
  left: 57px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 250px;
  opacity: 1;
  text-align: center;
}
.v76_1 {
  width: 297px;
  color: rgba(24,80,132,1);
  position: absolute;
  top: 241px;
  left: 619px;
  font-family: Rubik;
  font-weight: Medium;
  font-size: 250px;
  opacity: 1;
  text-align: center;
}
.container {
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  display: flex;
}
.btn-holder {position: absolute;
right:    0;
bottom:   0;
}