* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v25_7 {
  width: 100%;
  height: 1024px;
  background: rgba(38,38,38,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_5 {
  width: 100%;
  height: 179px;
  background: rgba(74,74,74,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v28_6 {
  width: 478px;
  height: 100%;
  background: rgba(104,104,104,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 962px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v28_26 {
  width: 433px;
  height: 126px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 873px;
  left: 988px;
  border-top-left-radius: 58px;
  border-top-right-radius: 58px;
  border-bottom-left-radius: 58px;
  border-bottom-right-radius: 58px;
  overflow: hidden;
}
.v29_26 {
  width: 920px;
  height: 473px;
  background: rgba(24,80,132,0.3799999952316284);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 21px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v29_41 {
  width: 443px;
  height: 110px;
  background: rgba(147,144,144,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 981px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v45_0 {
  width: 297px;
  height: 394px;
  background: rgba(147,144,144,1);
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 45px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v45_1 {
  width: 297px;
  height: 394px;
  background: rgba(147,144,144,1);
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 619px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v45_2 {
  width: 420px;
  height: 288px;
  background: rgba(104,104,104,1);
  opacity: 1;
  position: absolute;
  top: 711px;
  left: 21px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.v45_4 {
  width: 420px;
  height: 288px;
  background: rgba(104,104,104,1);
  opacity: 1;
  position: absolute;
  top: 711px;
  left: 521px;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  overflow: hidden;
}
.v45_5 {
  width: 277px;
  height: 394px;
  background: rgba(104,104,104,1);
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 342px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_28 {
  width: 598px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 170px;
  font-family: Rubik;
  font-weight: Bold;
  font-size: 90px;
  opacity: 1;
  text-align: left;
}
.v96_24 {
  width: 114px;
  height: 115px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 21px;
  overflow: hidden;
}
.v96_25 {
  width: 88px;
  height: 77px;
  background: url("../images/v96_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 13px;
  overflow: hidden;
}
.v96_26 {
  width: 88px;
  height: 17px;
  background: rgba(104,104,104,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v96_27 {
  width: 88px;
  height: 17px;
  background: rgba(104,104,104,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v96_28 {
  width: 88px;
  height: 17px;
  background: rgba(104,104,104,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v29_11 {
  width: 170px;
  height: 146px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 863px;
  left: 1270px;
  overflow: hidden;
}
.v29_12 {
  width: 118px;
  height: 118px;
  background: rgba(24,80,132,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 23px;
  border-top-left-radius: 59px;
  border-top-right-radius: 59px;
  border-bottom-left-radius: 59px;
  border-bottom-right-radius: 59px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v29_37 {
  width: 106px;
  height: 109px;
  background: url("../images/v29_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 30px;
  overflow: hidden;
}
.v29_21 {
  width: 106px;
  height: 109px;
  background: url("../images/v29_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v29_18 {
  width: 96px;
  height: 99px;
  background: url("../images/v29_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  transform: rotate(-6deg);
  overflow: hidden;
}
.v29_17 {
  width: 78px;
  height: 82px;
  background: url("../images/v29_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 3px;
  transform: rotate(-20deg);
  overflow: hidden;
}
.v29_15 {
  width: 36px;
  height: 74px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 42px;
}
.v29_16 {
  width: 37px;
  height: 73px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 86px;
  transform: rotate(-100deg);
}
.v29_20 {
  width: 10px;
  height: 12px;
  background: rgba(147,144,144,1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 38px;
}
.v29_36 {
  width: 37px;
  height: 68px;
  background: rgba(164,164,164,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 80px;
}
